


      section {
        display: inline-block;
        width: 600px;
        padding: 0 8px 0 0;
        border-right: 1px solid gray;
        margin-bottom: 8px;
      }

      aside {
        display: inline-block;
        width: 343px;
        vertical-align: top;
        padding: 0 0 0 8px;
      }

     body {
     font-family: Verdana; font-size: 15px;
     }

     nav { font-size: 25px; }